@model CarDealership.Models.EditUserViewModel
@{
                /**/

                ViewBag.Title = "EditUser";
}

<h2>EditUser</h2>

@using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>First Name</label>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            <label>Last Name</label>
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-2">
            <label>Role</label>
            @Html.DropDownListFor(m => m.RoleID,
             new List<SelectListItem>
             {
                 new SelectListItem { Text="Admin", Value="3"},
                 new SelectListItem { Text="Sales", Value="2"},
                 new SelectListItem { Text="Disabled", Value="1"},

             }, new {@class = "form-control" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Password</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

        </div>
        <div class="form-group col-md-6">
            <label>Confirm Password</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.UserID, new { @class = "form-control hidden", @Value = Model.UserID})
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <input type="submit" class="btn btn-default" value="Save" />
        </div>
    </div>
}

